<div class="d-flex">
    <div class="card">
        <div class="card-body">
            <img src="img/image 1.png" class="img-fluid w-100 mb-3" alt="">
            <p>Nama/Tipe Mobil</p>
            <p><i data-feather="key"></i>Start rent - Finish rent</p>
            <p><i data-feather="clock"></i>Updated at 4 Apr 2022, 09.00</p>
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-outline-danger px-4"><i data-feather="trash"></i>Delete</a>
                <a href="#" class="btn btn-success px-4"><i data-feather="edit"></i>Edit</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="img/image 1.png" class="img-fluid w-100 mb-3" alt="">
            <p>Nama/Tipe Mobil</p>
            <p><i class="fa-solid fa-key"></i>Start rent - Finish rent</p>
            <p><i class="fa-regular fa-clock"></i>Updated at 4 Apr 2022, 09.00</p>
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-danger">Delete</button>
                <button class="btn btn-success">Edit</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="img/image 1.png" class="img-fluid w-100 mb-3" alt="">
            <p>Nama/Tipe Mobil</p>
            <p><i data-feather="key"></i>Start rent - Finish rent</p>
            <p><i data-feather="clock"></i>Updated at 4 Apr 2022, 09.00</p>
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-danger">Delete</button>
                <button class="btn btn-success">Edit</button>
            </div>
        </div>
    </div>
</div>