<div id="side-menu">
    <div class="main-nav logo">
        <a href="#"><img src="img/Rectangle 63.png" alt=""></a>
    </div>
    <div class="main-nav">
        <a href="#"><img src="img/Group 2.png" alt=""></a>
        <p>Dashboard</p>
    </div>
    <div class="main-nav">
        <a href="../partials/cars.ejs"><img src="img/fi_truck.png" alt=""></a>
        <p>Cars</p>
    </div>
</div>