body{
    font-family: helvetica;
    margin: 0;
    padding: 0;
}
#header{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #F1F3FF;
}
#header .header-logo{
    width: 100px;
    height: auto;
}
#header .nav-menu li{
    padding-left: 32px;
    padding-right: 32px;
}
#header .nav-menu li a{
    text-decoration: none;
    color: black;
}
#header .nav-menu li a.register{
    border: solid #5CB85F;
    border-radius: 2px;
    background-color: #5CB85F;
    padding: 8px 12px;
    color: white;
}

#main{
    overflow: hidden;

}
#hero-section{
    background-color: #F1F3FF;
}
#main .hero-description{
    margin-bottom: 30px;
}
#main .hero-description .button-mulai{
    background-color: #5CB85F;
    color: white;
}
@media screen and (min-width: 1024px){
    #hero-section .hero-description{
        margin-bottom: 81px;
        margin-top: 93px;
        /* padding-right: 15px; */
    }
}
.hero-image{
    width:100%;
}
@media screen and (min-width: 1024px){
    #hero-section .hero-image{
        -webkit-transform: translateX(20%);
        transform: translateX(5%);
    }
}

#Our-Services{
    margin-top:100px; 
}
#Our-Services .our-services-deskirpsi{
    margin-bottom: 50px;
}
#Our-Services .list-item-services{
    list-style-type: none;
}



@media  screen and (min-width: 1024px) {
    #why-us{
        margin: 100px 136px 100px 136px;
    }
}
#why-us{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card{
    margin-top: 32px;
    margin-bottom: 32px;
    width: 268px;
    height: 250px;
}

@media  screen and (min-width: 1040px){
    #Testimonial{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .list-test .row{
        width: 150%;
        -webkit-transform: translateX(-16%);
        transform: translateX(-16%);
    }
}

.label1{
    background-color: #F1F3FF;
    border-radius: 8px;
    margin-top: 32px;
    display: flex;

}
.testi-keterangan{
    margin-top: 69px;
}
.testi-foto{
    padding: 95px 46px 95px 46px;
}
.button-testi{
    margin-top: 24px;
}
.button-kiri{
    margin-right: 24px;
}
@media screen and (min-width: 1040px){
    #cta-banner .container .cta-container{
        height: 326px;
        width: 1168px;
        padding: 64px 270px 64px 270px;
        margin: 100px 136px 100px 70px;
    }
    
}
#cta-banner{
    margin-top: 100px;
    margin-bottom: 100px;
}
#cta-banner .container .cta-container{
    border-radius: 13px;
    color: white;
}
#cta-banner .container .cta-container .cta-deskripsi{
    padding: 30px;
}
#cta-banner .container .cta-container .cta-deskripsi .button-mulai{
    background-color: #5CB85F;
    color: white;
}

@media screen and (min-width: 1040px){
    #faq{
        margin: 100px 136px 100px 136px;
    }
    #faq .container .row .col-12 .list-faq{
        width: 668px;
        height: 56px;
        border: solid #D4D4D4;
        border-radius: 4px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
#faq{
    margin-bottom: 100px;
}
#faq .faq-keteragan{
    margin-bottom: 20px;
}
#faq .list-faq{
    width: 500px;
    height: 56px;
    border: solid #D4D4D4;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
}
.caption-faq{
    padding-top: 15px;
    padding-bottom: 18px;
}
.chevron{
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 1040px){
    #footer{
        margin: 100px 136px 100px 136px;
        width: 1141px;
        height: 128px;

    }
}
.nav-footer a{
    text-decoration: none;
    color: black;
}

